* {
  box-sizing: border-box;
}

body,
main-div {
  width: 100%;
  height: 100%;
}

.main-div {
  text-align: center;
}

.heading-span-item {
  align-self: center;
  margin: auto;
  padding: auto;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #154DDC;
}

.table-styles {
  width: 50%;
  align-self: center;
  margin: auto;
  margin-top: 2%;
  padding: auto;
  position: relative;
  border: 2px solid #5985F7;
}

.table-row-styles {
  background-color: #95AFF1;
  padding: 5px;
  margin: 10px;
}

.table-column {
  background-color: #D1DAF1;
  padding: 5px;
}

.left-child {
  width: 35%;
}

.right-child {
  width: 65%;
}

.table-input-item {
  border: 2px solid #95AFF1;
  border-radius: 3px;
  align-content: center;
  padding: 1px;
}

.table-span-item {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 25px;
}
